@using MVC.Identity.Database.Models;
@model LoginDto

<form asp-action="Login" method="post" class="mt-5 w-50 ms-auto me-auto">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        @Html.PasswordFor(m => m.Password)
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
