@using MVC.Identity.Database.Models;
@model RegisterDto

<form asp-action="Register" method="post" class="mt-5 w-50 ms-auto me-auto">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        @Html.PasswordFor(m => m.Password)
    </div>

    <div class="form-group">
        Male
        @Html.RadioButtonFor(model => model.Gender, (Gender)0)
        Female
        @Html.RadioButtonFor(model => model.Gender, (Gender)1)
    </div>

    <div class="form-group">
        <label asp-for="DOB"></label>
        <input class="form-control" asp-for="DOB" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
